html {
  font-size: 14px;
}
.btn {
  border-radius: 2px;
}

.btn-small {
  border-radius: 1px;
}

.btn-large {
  border-radius: 3px;
}
:root{
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
  line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.6rem;
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: 1.25rem;
}
h5{
  font-size: 1.1rem;
}
h6{
  font-size: 1rem;
}

.bottomspace30{margin-bottom:30px;}

.leftcolor-blue{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #0b1644;
}
* {
  text-align: justify;
}

.navbar-custom {
  background-color: #0b1644;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,1);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.btn-primary {
  background:  #0b1644;
  color:  #ffffff;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
  background:  #213a70;
  color:  #ffffff;
}

.btn-primary.outline {
  border: 3px solid  #213a70;
  color:  #ffffff;
}


#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border-radius: 3px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  }
   
  #menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  }
   
  #menu a:last-child {
    border: none;
    }
     
    #menu a:hover {
    color: #404040;
    }
     
    #menu a.active {
    color: #ffffff;
    }
     